
<% if @friendships.count > 0 %>

	<% @friendships.each do |friends| %>
		<div class="col-lg-4">
			<div class="card">
			  <div class="card-block">
			    <h4 class="card-title"><%= friends.full_name %></h4>
			    <h6 class="card-subtitle text-muted"><small>Online <%= time_ago_in_words(friends.last_sign_in_at) %> ago</small></h6>
			  </div>
			  <img class="fixed-img" src="https://i.ytimg.com/vi/8VqcFj_11eA/maxresdefault.jpg" alt="Card image">
			  <div class="card-block">
			    <p class="card-text">Email: <%= friends.email %></p>
			    <a href="#" class="card-link">View</a>
			    <a href="#" class="card-link">Remove</a>
			  </div>
			</div>
		</div>
	<% end %>
<% else %>
	<p class="lead col-md-12">No friends yet.</p>
<% end %>