<% if @friendships.count > 0 %>

	<% @friendships.each do |friends| %>
		<div class="col-sm-6">
		  <div class="card card-block">
		    <h3 class="card-title"><%= friends.full_name %></h3>
		    <p class="card-text">Email: <%= friends.email %></p>
<!-- 		    <a href="#" class="btn btn-primary">Go somewhere</a> -->
		    <small>Online <%= time_ago_in_words(friends.last_sign_in_at) %> ago</small><br>
		  </div>
		</div> 	 
	<% end %>

<% else %>
	<p class="lead col-md-12">No friends yet.</p>

<% end %>