<%= form_for(@post, :remote => true, :html=> {class: "form-horizontal", role: "form"}) do |f| %>
	<% if user_signed_in? %>
		<div class="row">
			<div class="form-group text-area-size">		
				<%= f.text_area :content, class: "form-control text-area-res", placeholder: 'Say something' %>
			</div>
			<div class="form-group post-size">
					<%= f.submit class: 'btn btn-sm bbtn btn-success-outline btn-block' %>
			</div>
		</div>
	<% end %>
<% end %>