	<% @posts.each do |post| %>
		<% if !current_user.not_friends_with?(post.user.id) || post.user.id == current_user.id %>
			<div class ="well well-sm">
				<b><%= link_to post.user.full_name, user_path(post.user) %></b>
				<div class="no-padding"><small><%= time_ago_in_words(post.created_at) %> ago</small></div><br>
				<p><%= post.content %></p>
				<% if current_user.id == post.user.id %>
						<a href="#"><small>·Edit</small></a>  <a href="#"><small>·Delete</small></a>
				<% end %>
			</div>
		<% end %>
	<% end %>