	<% @posts.each do |post| %>
		<% if !current_user.not_friends_with?(post.user.id) || post.user.id == current_user.id %>
			<div class ="well well-sm">
				<strong>Message: </strong><%= post.content %> <br> —
				<b><%= post.user.full_name %></b><br> <small><%= time_ago_in_words(post.created_at) %> ago</small><br>
				<hr>
<!-- 				<small>•action1</small> | <small>•action1</small> -->
			</div>
		<% end %>
	<% end %>