.results-block{
	display: inline-block;
}
.top-left{
	vertical-align: top;
	position: absolute;
	top: 8px;
	left: 1000px;
}
.fixed-img{

    width: 100%;
    height: auto;
	position: relative;
	display:inline-block;
}
.user-actions{
	border-top: 1px solid #eaeaea;
	padding-top: 5px;
}
.no-padding{
	padding: 0 !important;
}
.left-padding{
	padding-left: 15px !important;
}
.logout{
	padding-left: 0;
	padding-top: 5px;
}
.user-name{
	padding-top: 15px;
}
.no-top{
	padding-top: 7px;
}
.to-left{
	position: absolute;
	right: 200px;
}
.nav .navbar-right li{
	.btn{
		margin-top: 5%
	}
}
.btn-gray{
	background-color: #dbd6d5;
}
.sidebar{
	position: absolute;
}
.text-area-size{
	width: 1000px;
	height: 50px;
	margin: 0 auto;
}
.post-size{
	padding-top: 15px;
	width: 1000px;
	height: 50px;
}
.container{
	position: relative;
}
.sidebar-nav{
	position: absolute;
}